[submodule "endpoints-proto-datastore"]
	path = endpoints-proto-datastore
	url = https://github.com/GoogleCloudPlatform/endpoints-proto-datastore.git
[submodule "garagehub_keys"]
	path = garagehub_keys
	url = git@github.com:breber/garagehub-keys.git 
