# General Java ignores
*.class
classes/

# Jars provided by the AppEngine SDK
AutoInfo/war/WEB-INF/lib/appengine-api-1.0-sdk-1.7.0.jar
AutoInfo/war/WEB-INF/lib/appengine-api-labs.jar
AutoInfo/war/WEB-INF/lib/appengine-endpoints.jar
AutoInfo/war/WEB-INF/lib/appengine-jsr107cache-1.7.0.jar
AutoInfo/war/WEB-INF/lib/datanucleus-api-jdo-3.0.7.jar
AutoInfo/war/WEB-INF/lib/datanucleus-api-jpa-3.0.9.jar
AutoInfo/war/WEB-INF/lib/datanucleus-appengine-2.0.1.jar
AutoInfo/war/WEB-INF/lib/datanucleus-core-3.0.10.jar
AutoInfo/war/WEB-INF/lib/geronimo-jpa_2.0_spec-1.0.jar
AutoInfo/war/WEB-INF/lib/jdo-api-3.1-SNAPSHOT-20110926.jar
AutoInfo/war/WEB-INF/lib/jsr107cache-1.1.jar
AutoInfo/war/WEB-INF/lib/transaction-api-1.1.jar

AutoInfo/war/WEB-INF/appengine-generated/
