@media ( min-width :980px) {
	body {
		padding-top: 80px;
	}
	.container-fluid {
		max-width: 1170px;
	}
}

.profile-link {
	padding: 5px 10px !important;
}

.profile-link>.caret {
	margin-top: 18px !important;
}

.profile-image {
	margin-right: 7px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center-block {
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}

.sidebar {
	padding: 8px 0;
}

/* For car.html */
.car-buttons {
	padding: 5px;
}

.cartable {
	table-layout: fixed;
}

/* For DataTables */
table.table .linkable {
	cursor: pointer;
	*cursor: hand;
}

/* For tripplanner.html */
body {
	font-size: 14px;
}

#map-container,#side-container,#side-container li {
	float: left;
}

#map-container {
	width: 500px;
}

#side-container {
	border: 1px solid #bbb;
	margin-right: 5px;
	padding: 2px 4px;
	text-align: right;
	width: 260px;
}

#side-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#side-container li input {
	font-size: 0.85em;
	width: 210px;
}

#side-container .dir-label {
	font-weight: bold;
	padding-right: 3px;
	text-align: left;
	width: 40px;
}

#dir-container {
	float: left;
	overflow: auto;
	padding: 2px 0px 2px 0px;
	max-height: 600px;
}

#dir-container table {
	font-size: 1em;
	padding: 2px;
}

/* For news.html */
.news-articletitle {
	font-size: 18px;
	float: left;
	clear: both;
	color: #034482;
}

.news-floatright {
	float: right;
	clear: right;
}

.news-floatleft {
	float: left;
	clear: left;
}

.news-links {
	margin-top: 8px;
}

.news-roundedcorners {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
}

div.news-articlediv {
	overflow: hidden;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #034482;
	box-shadow: -1px -1px 1px #034482;
}

div.news-articlediv:hover {
	background-color: #E0F2F7;
}

/* For addnotification.html */
.addnotif-centertext {
	text-align: center;
}

.addnotif-smallinput {
	width: 30px;
}

.addnotif-textfieldmargins {
	margin: 0px 5px;
}

.addnotif-rightmargin {
	margin-right: 5px;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

/* For addexpense.html */
.btn-addcategory {
	margin-bottom: 10px;
	float: left;
}

.chooseImagePicker {
	margin-bottom: 10px;
}

/* For addexpense.html */
.img-modal {
	width: auto;
	height: auto;
}

.btn-add-edit-delete {
    text-align: center;
}