@media ( min-width :980px) {
	.top-margin {
		padding-top: 80px;
	}
	.container-fluid {
		max-width: 1170px;
	}
}

/* For the footer at the bottom of each page */
html,body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#push,#footer {
	height: 60px;
}

#footer {
	background-color: #f5f5f5;
}

#footer .container p {
	margin: 20px 0;
}

@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Generic Classes */
.profile-link {
	padding: 5px 10px !important;
}

.profile-link>.caret {
	margin-top: 18px !important;
}

.profile-image {
	margin-right: 7px;
}

.loading-image {
	height: 1em;
	width: 1em;
	margin-right: 1em;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center-block {
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}

.sidebar {
	padding: 8px 0;
}

.linkable {
	cursor: pointer;
	*cursor: hand;
}

/* For car.html */
.cartable {
	table-layout: fixed;
}

/* For tripplanner.html */
#dir-container {
	padding: 2px 0px 2px 0px;
	max-height: 600px;
	overflow: auto;
}

#dir-container table {
	font-size: 1em;
	padding: 2px;
	width: 100%;
}

.trip-map-canvas {
	width: 100%;
	height: 500px;
}

/* For news.html */
.news-roundedcorners {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

div.news-articlediv {
	overflow: hidden;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #034482;
}

div.news-articlediv:hover {
	background-color: #E0F2F7;
}

/* For addnotification.html */
.addnotif-centertext {
	text-align: center;
}

.addnotif-smallinput {
	width: 30px;
}

.addnotif-textfieldmargins {
	margin: 0px 5px;
}

.addnotif-rightmargin {
	margin-right: 5px;
}

/* For addexpense.html */
.btn-addcategory {
	margin-bottom: 10px;
	float: left;
}

.chooseImagePicker {
	margin-bottom: 10px;
}

/* For expense.html */
.img-modal {
	width: auto;
	height: auto;
}

.expense-btn {
	margin: 5px 0px;
}

/* For notifications.html */
#notif-deleteButton {
	margin-left: 10px;
}

/* For settings.html */
.settings-btn {
	margin: 5px 0px;
}

/* For gasprices.html */
.gas-map-canvas {
	height: 300px;
}

.adp-text{
	width: 100%;
	padding-left: 20px;
	padding-right: 5px;
	text-align: right;
}
