@media ( min-width :980px) {
	.container-fluid {
		max-width: 1170px;
	}
}

.top-margin {
	padding-top: 60px;
}

/* For the footer at the bottom of each page */
html,body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#push,#footer {
	height: 60px;
}

#footer {
	background-color: #f5f5f5;
}

#footer .container p {
	margin: 20px 0;
}

@media ( max-width : 767px) {
	#footer {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Generic Classes */
.profile-link {
	padding: 5px 10px !important;
}

.profile-image {
	margin-right: 7px;
}

.loading-image {
	height: 1em;
	width: 1em;
	margin-right: 1em;
}

.row-spacing {
	margin-top: 1em;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center-block {
	margin-left: auto;
	margin-right: auto;
}

.sidebar {
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f5f5f5;
    border-radius: 5px;
}

/* All levels of nav */
.sidebar .nav > li > a {
    display: block;
    color: #666;
    padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    text-decoration: none;
    border-right: 1px solid #d5d5d5;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #034482;
    background-color: transparent;
    border-right: 1px solid #034482;
}

.linkable {
	cursor: pointer;
}

/* For car.html */
.cartable {
	table-layout: fixed;
}

/* For tripplanner.html */
#dir-container {
	padding: 2px 0px;
	max-height: 600px;
	overflow: auto;
}

#dir-container table {
	font-size: 1em;
	padding: 2px;
	width: 100%;
}

.trip-map-canvas {
	width: 100%;
	height: 500px;
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
}

/* For news.html */
.news-roundedcorners {
	border-radius: 4px;
}

div.news-articlediv {
	overflow: hidden;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #034482;
}

div.news-articlediv:hover {
	background-color: #E0F2F7;
}

/* For addnotification.html */
.addnotif-centertext {
	text-align: center;
}

.addnotif-smallinput {
	width: 30px;
}

.addnotif-textfieldmargins {
	margin: 0px 5px;
}

.addnotif-rightmargin {
	margin-right: 5px;
}

/* For addexpense.html */
.btn-addcategory {
	margin-bottom: 10px;
	float: left;
}

.chooseImagePicker {
	margin-bottom: 10px;
}

/* For expense.html */
.img-modal {
	width: auto;
	height: auto;
}

.expense-btn {
	margin: 5px 0px;
}

/* For settings.html */
.settings-btn {
	margin: 5px 0px;
}

/* For gasprices.html */
.gas-map-canvas {
	height: 300px;
}

.adp-text {
	width: 100%;
	padding-left: 20px;
	padding-right: 5px;
	text-align: right;
}
