@media ( min-width :980px) {
	.container-fluid {
		max-width: 1170px;
	}
}

.top-margin {
	padding-top: 60px;
}

/* For the footer at the bottom of each page */
html,body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#push,#footer {
	height: 60px;
}

#footer {
	background-color: #f5f5f5;
}

#footer .container p {
	margin: 20px 0;
}

@media ( max-width : 767px) {
	#footer {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Generic Classes */
.profile-link {
	padding: 5px 10px !important;
}

.profile-image {
	margin-right: 7px;
}

.loading-image {
	height: 1em;
	width: 1em;
	margin-right: 1em;
}

.row-spacing {
	margin-top: 1em;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center-block {
	margin-left: auto;
	margin-right: auto;
}

.sidebar {
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f5f5f5;
    border-radius: 5px;
}

/* All levels of nav */
.sidebar .nav > li > a {
    display: block;
    color: #666;
    padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    text-decoration: none;
    border-right: 1px solid #d5d5d5;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #034482;
    background-color: transparent;
    border-right: 1px solid #034482;
}

.linkable {
	cursor: pointer;
}

/* For car.html */
.cartable {
	table-layout: fixed;
}

/* For addexpense.html */
.btn-addcategory {
	margin-bottom: 10px;
	float: left;
}

.chooseImagePicker {
	margin-bottom: 10px;
}

/* For expense.html */
.img-modal {
	width: auto;
	height: auto;
}

.expense-btn {
	margin: 5px 0px;
}

/* For welcome.html */
.home-logo {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
