{% extends 'base.html' %} 
{% block externalcss %}
<link rel="stylesheet" href="/static/css/validationEngine.jquery.css" type="text/css"/>
<link rel="stylesheet" href="/static/css/datepicker.css" type="text/css"/>
{% endblock %}
{% block content %}

<h2>Add Notification</h2>

<form action="/notifications" method="post" class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="selectVehicle">Vehicle</label>
		<div class="controls">
			<select id="selectVehicle" name="selectVehicle">
				{% if vehicles %}
					{% for v in vehicles %}
						<option value="{{ v.key.id }}">{{ v.name }}</option>
					{% endfor %}
				{% endif %}
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="selectCategory">Category</label>
		<div class="controls">
			<select id="selectCategory" name="selectCategory">
				{% if categories %}
					{% for cat in categories %}
						<option value="{{ cat }}">{{ cat }}</option>
					{% endfor %}
				{% endif %}
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Frequency</label>
		<div class="controls">
			<label class="radio inline">
				<input type="radio" class="triggerChange" id="onetimeFreq" name="frequencyRadio" value="False"> 
				One-Time
			</label>
			<label class="radio inline">
				<input type="radio" class="triggerChange" id="recurringFreq" name="frequencyRadio" value="True"> 
				Recurring
			</label>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Alert Type</label>
		<div class="controls">
			<label class="checkbox inline">
				<input type="checkbox" class="triggerChange" id="dateCheckbox" name="dateCheckbox" value="True"> Date
			</label>
			<label class="checkbox inline">
				<input type="checkbox" class="triggerChange" id="mileageCheckbox" name="mileageCheckbox" value="True"> Mileage
			</label>
		</div>
	</div>
	<div class="control-group changingDiv" id="recurringDateDiv">
		<label class="control-label">Schedule</label>
		<div class="controls">
			Notify every
			<input type="text" class="addnotif-smallinput addnotif-centertext addnotif-textfieldmargins" name="recurrMonths">
			<b>months</b> starting
			<input type="text" class="addnotif-smallinput addnotif-centertext addnotif-textfieldmargins" name="daysAdvance">
			<b>days</b> in advance.
		</div>
	</div>
	<div class="control-group changingDiv" id="recurringMilesDiv">
		<label class="control-label">Schedule</label>
		<div class="controls">
			Notify every
			<input type="text" class="input-small addnotif-centertext addnotif-textfieldmargins" name="recurrMiles">
			<b>miles</b> starting
			<input type="text" class="input-small addnotif-centertext addnotif-textfieldmargins" name="milesAdvance">
			<b>miles</b> in advance.
		</div>
	</div>
	<div class="control-group changingDiv" id="onetimeDateDiv">
		<label class="control-label">Notify On</label>
		<div class="controls">
			<input type="text" class="input-small addnotif-centertext" id="dateToNotify" name="dateToNotify">
		</div>
	</div>
	<div class="control-group changingDiv" id="onetimeMilesDiv">
		<label class="control-label">Notify At</label>
		<div class="controls">
			<input type="text" class="input-small addnotif-centertext addnotif-rightmargin" name="milesToNotify">
			miles
		</div>
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Submit</button>
		<button type="button" class="btn">Cancel</button>
	</div>
</form>

{% endblock %}
{% block externaljs %}
<script type="text/javascript" src="/static/js/ext/bootstrap-datepicker.js"></script>
<script src="/static/js/ext/jquery.validationEngine-en.js" type="text/javascript" ></script>
<script src="/static/js/ext/jquery.validationEngine.js" type="text/javascript" ></script>
<script type="text/javascript" src="/static/js/addnotification.js"></script>
{% endblock %}