{% extends 'base.html' %} {% block content %}

<div class="container-fluid center-block">
  <div class="well">
    <h2>Admin Functions</h2>
    
    <h3>General</h3>
    <table class="table table-hover">
      <tr>
        <td>Reload Vehicles from Cars.com</td>
        <td>
          <form action="/admin/fetchvehicleinfo" method="POST">
            <button type="submit" class="btn pull-right">Reload</button>
          </form>
        </td>
      </tr>
      <tr>
        <td>Delete all Vehicles</td>
        <td>
          <form action="/admin/deletevehicles" method="POST">
            <button type="submit" class="btn btn-danger pull-right">Delete</button>
          </form>
        </td>
      </tr>
      <tr>
        <td>Delete all CarResponseString</td>
        <td>
          <form action="/admin/deletecarresponsestring" method="POST">
            <button type="submit" class="btn btn-danger pull-right">Delete</button>
          </form>
        </td>
      </tr>
      <tr>
        <td>Clear Server Cache</td>
        <td>
          <form action="/admin/clearmemcache" method="POST">
            <button type="submit" class="btn btn-danger pull-right">Delete</button>
          </form>
        </td>
      </tr>
    </table>
    
    <h3>Category Refactoring</h3>
    <table class="table table-hover">
      <tr>
        <td>Step 1: Migrate Category Definitions</td>
        <td>
          <a href="/database/categories/update" class="btn btn-primary pull-right">Step 1</a>
        </td>
      </tr>
      <tr>
        <td>Step 2: Migrate Expense Records</td>
        <td>
          <a href="/database/expenses/update" class="btn btn-inverse pull-right">Step 2</a>
        </td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
