{% extends 'base.html' %}
{% block content %}

<div class="container-fluid center-block">
  <div class="row-fluid">
    <div class="well span3 sidebar">
      <ul class="nav nav-list">
        <li class="nav-header">Navigate</li>
        <li><a href="/vehicle/{{ car.key.id }}">{{ car.name }}</a></li>
        <li>
          <ul>
            <li><a href="/vehicle/{{ car.key.id }}/expenses">Expense Manager</a></li>
            <li><a href="/vehicle/{{ car.key.id }}/maintenance">Maintenance Records</a></li>
            <li><a href="/vehicle/{{ car.key.id }}/gasmileage">Gas Mileage Tracking</a></li>
            <li><a href="/vehicle/{{ car.key.id }}/charts">Charts</a></li>
            <li><a href="/vehicle/{{ car.key.id }}/news">News</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="well span9">
      {% block pagecontent %}{% endblock %}
    </div>
  </div>
</div>

{% endblock %}
