{% extends 'base_vehicle.html' %} 
{% block pagecontent %}

<div style="vertical-align: middle;">
<h2 style="float: none; display: inline; ">{{ car.name }}</h2>
<div style="float: right; display: inline-block; padding: 5px;">
<form action="/vehicle/{{ car.key.id }}/delete" method="post" >
  <input type="submit" class="btn btn-danger" value="Delete"></input>
  <a href="#editCar" role="button" class="btn btn-primary" data-toggle="modal">Edit Vehicle</a>
</form>
</div>
</div>



<table id="cartable" class="table" style="table-layout:fixed">
  <tr class="hidden"><td></td><td></td></tr>
  <tr>
    <td>Color</td>
    <td class="editable">{% if car.color %}{{ car.color }}{% else %}N/A{% endif %}</td>
  </tr>
  <tr>
    <td>License Plates</td>
    <td class="editable">{% if car.plates %}{{ car.plates }}{% else %}N/A{% endif %}</td>
  </tr>
  <tr>
    <td>Current Odometer</td>
    <td>{{ fuel.odometerEnd }}</td>
  </tr>
  <tr>
    <td>Total Cost</td>
    <td>{{ car.cost }}</td>
  </tr>
</table>



<div id="editCar" class="modal hide fade">
  <form action="/vehicle/{{ car.key.id }}/update" method="post">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3>Update Vehicle</h3>
    </div>
    <div class="modal-body">
      <div>
        <label for="color">Color:</label>
        <input id="color" type="text" name="color" value="{{ car.color }}" /> 
      </div>
      <div>
        <label for="plates">License Plates:</label>
        <input id="plates" type="text" name="plates" value="{% if car.plates %}{{ car.plates }}{% endif %}" /> 
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <input type="submit" class="btn btn-primary"></input>
    </div>
  </form>
</div>

{% endblock %}
