{% extends 'base_vehicle.html' %} {% block pagecontent %}

<h2>Expense Manager</h2>

{% if not userexpenses %}
<br>
<div>
	<p>You don't have any expenses recorded yet.</p>
	<p>
		Record one <a href="/vehicle/{{ car.key.id }}/expenses/add">here</a>!
	</p>
</div>
{% else %}
<h3>Total Money Spent: $1,003,304</h3>
<div>
	<div class="btn-group" style="float: left" data-toggle="buttons-radio">
		<button type="button" class="btn">Most Recent Purchase</button>
		<button type="button" class="btn">1 M</button>
		<button type="button" class="btn">3 M</button>
		<button type="button" class="btn">1 Yr</button>
		<button type="button" class="btn">All</button>
		<button type="button" class="btn">Custom</button>
	</div>
	<div style="float: right">
		<a href="/vehicle/{{ car.key.id }}/expenses/add"><input type="button" class="btn"
			value="New Expense +" /></a>
	</div>
</div>

<table class="table table-striped table-bordered" id="expense-table">
	<thead>
		<tr>
			<th>Date</th>
			<th>Category</th>
			<th>Location</th>
			<th>Description</th>
			<th>Cost</th>
		</tr>
	</thead>
	{% for e in userexpenses %}
	<tr>
		<td>{{ e.date }}</td>
		<td>{{ e.category }}</td>
		<td>{{ e.location }}</td>
		<td>{{ e.description }}</td>
		<td>{{ e.amount|stringformat:".2f" }}</td>
	</tr>
	{% endfor %}
</table>



<table class="table table-striped table-bordered">
	<tr>
		<th>Fuel</th>
		<th>Repairs</th>
		<th>Periodic Maintenance</th>
		<th>Making It Look Good</th>
	</tr>

	<tr>
		<td>$1,390</td>
		<td>$1,000</td>
		<td>$0</td>
		<td>$23,000</td>
	</tr>
</table>

<br />

<button style="float: left" type="button" class="btn btn-primary"
	data-toggle="collapse" data-target="#fuelExpenses">Show/Hide -
	Fuel Expenses</button>
<input style="float: right" type="button" class="btn"
	value="Add Fuel Transaction +" />
<br />
<br />

<div id="fuelExpenses" class="collapse in">
	<table class="table table-striped table-bordered">
		<tr>
			<th>Date</th>
			<th># Gallons</th>
			<th>Total Price</th>
			<th>$ / Gallon</th>
			<th>Location</th>
			<th>Odometer</th>
		</tr>

		<tr>
			<td>2012-09-12 05:07:44</td>
			<td>22.13</td>
			<td>$82.99</td>
			<td>$3.75</td>
			<td>Kum N' Go</td>
			<td>100,234</td>
		</tr>

		<tr>
			<td>2012-09-12 05:07:44</td>
			<td>15.32</td>
			<td>$50.50</td>
			<td>$3.62</td>
			<td>Amaco</td>
			<td>99,823</td>
		</tr>

		<tr>
			<td>2012-09-12 05:07:44</td>
			<td>10.23</td>
			<td>$20.44</td>
			<td>$3.39</td>
			<td>BP</td>
			<td>99,389</td>
		</tr>

		<tr>
			<td>2012-09-12 05:07:44</td>
			<td>2.02</td>
			<td>$6.05</td>
			<td>$3.01</td>
			<td>Philips 66</td>
			<td>98,978</td>
		</tr>
	</table>
</div>
{% endif %} {% endblock %} {% block externaljs %}

<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script>

$(document).ready(function() {
	$('#expense-table').dataTable( {
		"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
		"bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bSort": true,
        "bInfo": false,
        "bAutoWidth": false
	} );
});

</script>

{% endblock %}
