{% extends 'base.html' %}
{% block content %}

<div class="container-fluid center-block">
  <div class="row-fluid">
    <div class="well span2" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">Navigate</li>
        <li class="active">Garage</li>
        <li><a href="/vehicle/add">Add Vehicle</a></li>
      </ul>
    </div>

    <div class="well span9">
      <h2>Your Garage</h2>

      {% if not uservehicles %}
      <p>You don't have any vehicles registered.</p>
      <p>
        Register one <a href="/vehicle/add">here</a>!
      </p>
      {% else %}
      <table class="table table-striped table-bordered table-hover" id="vehicle-table">
        <thead>
          <tr>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
          </tr>
        </thead>
        {% for v in uservehicles %}
        <tr id="{{ v.key.id }}" class="linkable">
          <td>{{ v.year }}</td>
          <td>{{ v.make }}</td>
          <td>{{ v.model }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
{% block externaljs %}

<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script>

$(document).ready(function() {
	$('#vehicle-table').dataTable({
		"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
		"bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bSort": true,
        "bInfo": false,
        "bAutoWidth": false
	});
	
	$('#vehicle-table tr').click(function() {
		if (this.id !== undefined && this.id !== null && "" !== this.id) {
			window.location = "/vehicle/" + this.id;
		}
	});
});

</script>

{% endblock %}