{% extends 'base_vehicle.html' %} 
{% block externalcss %}
<link rel="stylesheet" href="/static/css/dataTables.bootstrap.css" type="text/css"/>
{% endblock %}
{% block pagecontent %}

<div class="btn-add-edit-delete">
  <a id="gasmileage-add"    class="btn btn-primary btn-add-edit-delete" href="/vehicle/{{ car.key.id }}/gasmileage/add"><i class="icon-plus"></i> Add Fuel Record</a>
  <a id="gasmileage-edit"   class="btn btn-inverse btn-add-edit-delete" disabled="disabled" onClick="editRecord('/vehicle/{{ car.key.id }}/gasmileage/edit/')"><i class="icon-edit"></i> Edit Record</a>
  <a id="gasmileage-delete" class="btn btn-danger btn-add-edit-delete"  disabled="disabled" onClick="editRecord('/vehicle/{{ car.key.id }}/gasmileage/delete/')"><i class="icon-remove"></i> Delete Record</a>
</div>

<h2 class="expense-header">Gas Mileage Tracker</h2>

{% if not userexpenses %}
<br>
<div class="expense-subheader-1">
  <p>You don't have any fuel transactions recorded yet.</p>
  <p>Record one <a href="/vehicle/{{ car.key.id }}/gasmileage/add">here</a>!</p>
</div>
{% else %}
<h3 class="expense-subheader-1">Average MPG: {{ avgmpg }}</h3>
<h3 class="expense-subheader-2">Miles Recorded: {{ milestotal }}</h3>

<div id="alert-area"></div>

<table class="table table-striped table-bordered dataTable DTTT_selectable table-hover" id="gasmileagetable">
  <thead>
    <tr>
      <th>Date</th>
      <th>MPG</th>
      <th>Total Price</th>
      <th>$ / Gallon</th>
      <th>Location</th>
      <th>Fuel Grade</th>
      <th>Odometer Range</th>
      <th>Picture</th>
    </tr>
  </thead>
  <tbody>
  {% for e in userfuelrecords %}
  <tr id="{{ e.key.id }}">
    <td>{{ e.date_formatted }}</td>

    {% if e.odometerEnd != -1 and e.odometerStart != -1 and e.gallons > 0 and e.odometerEnd >= e.odometerStart %}
    <td>{{ e.mpg_formatted }}</td>
    {% else %}
    <td>N/A</td>
    {% endif %}

    <td>{{ e.amount_formatted }}</td>
    <td>{{ e.costPerGallon_formatted }}</td>

    {% if e.location == "" %}
    <td>N/A</td>
    {% else %}
    <td>{{ e.location }}</td>
    {% endif %}

    <td>{{ e.fuelGrade }}</td>

    <td>
    {% if e.odometerStart == -1 %}
    N/A - 
    {% else %}
    {{ e.odometerStart_formatted }} -
    {% endif %}
    {% if e.odometerEnd == -1 %}
    N/A
    {% else %}
    {{ e.odometerEnd_formatted }}
    {% endif %}
    </td>
    {% if e.picture %}
    <td><button type="button" class="btn btn-success receiptlink" value="/blob/{{ e.picture }}">Receipt</a></td>
    {% else %}
    <td>N/A</td>
    {% endif %}

</tr>
{% endfor %}
</tbody>

</table>

<div id="displayimage" class="modal hide fade img-modal">
  <img id="modalimage" width="400">
</div>
{% endif %}
{% endblock %}
{% block externaljs %}
<script type="text/javascript" src="/static/js/ext/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/ext/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/static/js/ext/TableTools.js"></script>
<script type="text/javascript" src="/static/js/gasmileage.js"></script>
{% endblock %}
