{% extends 'base.html' %} {% block content %}

<div class="well ">
  <h2>Nearby Gas Prices</h2>

  <form>
    <input onclick="hideZipCode();" type="checkbox" id="location"
      name="location" value="location" checked /> Detect my location <br />
    <br />

    <section>
      <div style="float: left;">
        <label for="zip">Zip Code:</label>
        <input type="text" name="zip" id="zip" disabled />
      </div>
      <div style="float: left; margin-left: 20px;">
        <label for="radius">Search Radius:</label>
        <select name="radius" id="radius">
          <option value="1">1 Mile</option>
          <option value="2">2 Miles</option>
          <option value="3">3 Miles</option>
          <option value="4">4 Miles</option>
          <option SELECTED value="5">5 Miles</option>
          <option value="6">6 Miles</option>
          <option value="7">7 Miles</option>
          <option value="8">8 Miles</option>
          <option value="9">9 Miles</option>
          <option value="10">10 Miles</option>
          <option value="15">15 Miles</option>
          <option value="20">20 Miles</option>
          <option value="25">25 Miles</option>
          <option value="30">30 Miles</option>
        </select>
      </div>
      <div style="float: left; margin-left: 20px;">
        <label for="grade">Fuel Grade:</label>
        <select name="grade" id="grade">
          <option value="reg">Regular</option>
          <option value="mid">Mid</option>
          <option value="pre">Premium</option>
          <option value="diesel">Diesel</option>
        </select>
      </div>
      <div style="float: left; margin-left: 20px;">
        <label for="sort">Sort By:</label>
        <select name="sort" id="sort">
          <option value="price">Price</option>
          <option value="distance">Distance</option>
        </select>
      </div>
    </section>
    <br /> <br />
    <section>
      <div style="float: left; clear: both;">
        <input type="button" class="btn" onclick="getGasPrices();" value="Get Gas" />
      </div>
    </section>
  </form>
  <br /><br />
  <div id="tableWrapper">
    <div id="loading" class="center"><img id='theImg' src='/static/img/ajax-loader.gif' /> Loading...</div>
    <table class="table pagination table-striped table-bordered table-hover linkable" id="gaspricetable"></table>
  </div>
  <hr />
  <div>Data Powered by www.myGasFeed.com.</div>
  
    <div id="map_canvas" style="width: 500px; height: 300px; display:none;"></div>
</div>

{% endblock %} {% block externaljs %}
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6rEVLWJAAQ6p3IObKwkyGoAVQ_GQZnIg&sensor=false"></script>
  
<script src="/static/js/gasprices.js"></script>
<script type="text/javascript" src="/static/js/ext/jquery.dataTables.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />

<script>
	$(document).ready(function() {
		
		getGasPrices();
		
	});
	
	var markersArray = [];
	var Demo = {

			  init: function() {
				  var mapOptions = {
					        zoom: 14,
					        center: new google.maps.LatLng(-34.397, 150.644),
					        mapTypeId: google.maps.MapTypeId.ROADMAP
					      };
			    Demo.map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

			  }
			};

	google.maps.event.addDomListener(window, 'load', Demo.init);
	
	$("#gaspricetable tr td").live("click", function() {
		var lat = $(this).parent().find('td').eq(5).text();
		var lon = $(this).parent().find('td').eq(6).text();
		$('body').addClass('stop-scrolling');
		$( "#map_canvas" ).dialog({position: "fixed", show: "blind", hide: "explode", width:535, height:420, modal:true, resizable: false, 
			buttons:{
			    Close:{
			        text:'Close',
			        class:'btn',
					click: function () {
			            $(this).dialog("close");
			            clearOverlays();
			            $('body').removeClass('stop-scrolling');
			        }
			      }
			}
		});
		
		

		var mapOptions = {
		        zoom: 14,
		        center: new google.maps.LatLng(lat, lon),
		        mapTypeId: google.maps.MapTypeId.ROADMAP
		      };
    	Demo.map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

	    clearOverlays();
	    
	    var latLng = new google.maps.LatLng(lat, lon); //Makes a latlng
		addMarker(latLng);
		
		$(".ui-dialog-titlebar").hide();
			    
	});
	
	// Function for adding a marker to the page.
    function addMarker(location) {
        marker = new google.maps.Marker({
            position: location,
            map: Demo.map
        });
        
        markersArray.push(marker);
    }

    function clearOverlays() {
    	  if (markersArray) {
    	    for (i in markersArray) {
    	      markersArray[i].setMap(null);
    	    }
    	  }
    	}
	
	
</script>

{% endblock %}
