{% extends 'base_vehicle.html' %} 
{% block externalcss %}
<link rel="stylesheet" href="/static/css/dataTables.bootstrap.css" type="text/css"/>
{% endblock %}
{% block pagecontent %}

<div class="row-fluid">
  <div class="span9">
    <h2>Maintenance Records</h2>
    {% if not maintRecords %}
    <p>You don't have any maintenance recorded yet.</p>
    <p>Record one <a href="/vehicle/{{ car.key.id }}/maintenance/add">here</a>!</p>
    {% endif %}
  </div>
  <div class="span3">
    {% if maintRecords %}
    <div class="row-fluid">
      <a id="record-add" class="btn btn-primary span12 expense-btn" href="/vehicle/{{ car.key.id }}/maintenance/add"><i class="icon-plus icon-white"></i> Add Record</a>
    </div>
    <div class="row-fluid">
      <a id="record-edit" class="btn btn-inverse span12 expense-btn"><i class="icon-edit icon-white"></i> Edit Record</a>
    </div>
    <div class="row-fluid">
      <a id="record-delete" class="btn btn-danger span12 expense-btn"><i class="icon-remove icon-white"></i> Delete Record</a>
    </div>
    {% endif %}
  </div>
</div>

{% if maintRecords %}

<div id="alert"></div>

{% if categories %} 

{% for category in categories %}
<h3>{{ category }}</h3>
<table class="maint-datatable table table-striped table-bordered dataTable DTTT_selectable table-hover" id="{{ category }}">
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Odometer</th>
      <th>Picture</th>
    </tr>
  </thead>
  <tbody>
  {% for m in maintRecords %} 
  {% if category == m.category %}
  <tr id="{{ m.key.id }}">
    <td>{{ m.date_formatted }}</td>
    <td>{{ m.location }}</td>
    <td>{{ m.description }}</td>
    <td>{{ m.amount_formatted }}</td>
    <td>{{ m.odometer_formatted }}</td>
    {% if m.picture %}
    <td><button type="button" class="btn btn-success receiptlink" value="{{ m.pictureurl }}">Receipt</button></td>
    {% else %}
    <td>N/A</td>
    {% endif %}
  </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endif %}

<div id="displayimage" class="modal hide fade img-modal">
  <img id="modalimage" width="400">
</div>
{% endif %}
{% endblock %}
{% block externaljs %}
<script type="text/javascript" src="/static/js/ext/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/ext/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/static/js/ext/TableTools.js"></script>
<script type="text/javascript" src="/static/js/maintenance.js"></script>
{% endblock %}
