{% extends 'base_vehicle.html' %} 
{% block pagecontent %}

<h2>News</h2>
<div id="searchresults"></div>

{% endblock %}

{% block externaljs %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

//Reference: https://developers.google.com/news-search/v1/devguide#hiworld 

  // This code generates a "Raw Searcher" to handle search queries. The Raw 
  // Searcher requires you to handle and draw the search results manually.
  google.load('search', '1');

  var newsSearch;

  function searchComplete() {
    // Check that we got results
    document.getElementById('searchresults').innerHTML = '';
    if (newsSearch.results && newsSearch.results.length > 0) {
    	//var newsTable = document.createElement('table');
    	//newsTable.setAttribute("class", "table table-striped");
    	//document.getElementById('searchresults').appendChild(newsTable);
      
    	// iterate through search results array
    	for (var i = 0; i < newsSearch.results.length; i++) {
        
    		// Create HTML elements for search results
        //var tableRow = document.createElement('tr');
        //var td = document.createElement('td');
        var articleDiv = document.createElement('div');
        articleDiv.setAttribute("class", "news-articlediv news-roundedcorners");
        // link to news article
        var a = document.createElement('a');
        a.href = newsSearch.results[i].unescapedUrl;
        a.innerHTML = newsSearch.results[i].unescapedUrl;
        a.setAttribute("class", "news-floatleft news-links");
		
        // link title
        var linkTitle = document.createElement('p');
        linkTitle.setAttribute("class", "news-articletitle");
		linkTitle.innerHTML = newsSearch.results[i].title;
		articleDiv.appendChild(linkTitle);
        
        //tableRow.appendChild(td);
        //td = document.createElement('td');
        
        // publishing information
        var publishInfo = document.createElement('span');
        publishInfo.innerHTML = "<b>" + newsSearch.results[i].publisher + "</b>";
        publishInfo.setAttribute("class", "news-floatleft");
        articleDiv.appendChild(publishInfo);
        //td.appendChild(publishInfo);
        publishInfo = document.createElement('span');
        var pubDate = new Date(newsSearch.results[i].publishedDate);
        publishInfo.innerHTML = pubDate.toDateString();
        publishInfo.setAttribute("class", "news-floatright");
        articleDiv.appendChild(publishInfo);
        articleDiv.appendChild(a);

        document.getElementById('searchresults').appendChild(articleDiv);
        //td.appendChild(publishInfo);
        //tableRow.appendChild(td);
        //newsTable.appendChild(tableRow);
      }
    }
  };

  function onLoad() {
    // Create a News Search instance.
    newsSearch = new google.search.NewsSearch();

    // Set searchComplete as the callback function when a search is 
    // complete. The newsSearch object will have results in it.
    newsSearch.setSearchCompleteCallback(this, searchComplete, null);
    newsSearch.setResultSetSize(8);
    // Specify search queries
    newsSearch.execute('"{{ car.year }} {{ car.make }} {{ car.model }}"');
    //newsSearch.execute('"2013 Toyota Prius"');

    // Include the required Google branding
    google.search.Search.getBranding('branding');
  };

  // Set a callback to call your code when the page loads
  google.setOnLoadCallback(onLoad);
</script>

{% endblock %}