{% extends 'base.html' %} 
{% block externalcss %}
<link rel="stylesheet" href="/static/css/dataTables.bootstrap.css" type="text/css"/>
{% endblock %}
{% block content %}

<div>
  <a id="notif-deleteButton" disabled="disabled" class="btn btn-danger pull-right"><i class="icon-remove"></i> Delete Notification</a>
  <a class="btn btn-primary pull-right" href="/notifications/add"><i class="icon-plus"></i> Add Notification</a>
</div>

<h2 class="news-floatleft">Notifications</h2>

<table id="notif-datatable" class="table table-striped table-bordered table-hover dataTable DTTT_selectable">
	<thead>
		<tr>
			<th>Vehicle</th>
			<th>Category</th>
			<th>Frequency</th>
			<th>Next Deadline</th>
		</tr>
	</thead>
	{% if notifications %}
		{% for notif in notifications %}
		<tr id="{{ notif.key.id() }}">
			<td>{{ notif.vehicleName }}</td>
			<td>{{ notif.category }}</td>
			<td>
			{% if notif.recurring %}
				{% if notif.dateBased %}
				<span>Every {{ notif.recurringMonths }} Months</span>
					{% if notif.mileBased %}
					<span> or </span>
					{% endif %}
				{% endif %}
				{% if notif.mileBased %}
				<span>Every {{ notif.recurringMiles }} Miles</span>
				{% endif %}
			{% else %}
				One-Time
			{% endif %}
			</td>
			<td>
			{% if notif.dateBased %}
			<span>{{ notif.date }}</span>
				{% if notif.mileBased %}
				<span> or </span>
				{% endif %}
			{% endif %}
			{% if notif.mileBased %}
			<span>{{ notif.mileage }} Miles</span>
			{% endif %}
			</td>
		</tr>
		{% endfor %}
	{% endif %}
</table>

{% endblock %}
{% block externaljs %}
<script type="text/javascript" src="/static/js/ext/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/ext/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/static/js/ext/TableTools.js"></script>
<script type="text/javascript" src="/static/js/notifications.js"></script>
{% endblock %}
