{% extends 'base.html' %} {% block content %}

<div class="well trip-overflow">
  <h2>Trip Planner</h2>

  <div id="side-container">
   <input onclick="hideFromInput();" id="useCurrentLocation" type="checkbox" value="useCurrentLocation" class="pull-left" checked="checked"/>
   <label for="useCurrentLocation" class="pull-left trip-label-check"> Use my location</label><br/><br/>
    <ul>
      <li class="dir-label">From:</li>
      <li><input id="from-input" type=text value=""/></li>
      <li class="dir-label">To:</li>
      <li><input id="to-input" type=text value="Ames, IA" /></li>
    </ul>
    <div>
      <input onclick="Demo.getDirections();" type="button" class="btn btn-primary pull-left"
        value="Go!" />
    </div>
    <div id="dir-container"></div>
  </div>
  <div id="map_canvas" class="trip-map-canvas"></div>
  <br />
  <div class="pull-left trip-list">
    <form>
      <div class="pull-left trip-inline-form">
        <label for="num-miles-input">Number of Miles:</label> 
        <input id="num-miles-input" type="text" name="num-miles-input" readonly="readonly" />
      </div>
      <div class="pull-left trip-inline-form">
        <label for="avg-mpg-input">Average MPG:</label>
        <input id="avg-mpg-input" type="text" name="avg-mpg-input" /> 
      </div>
      <div class="pull-left trip-inline-form">
        <label for="avg-ppg-input">Estimated Price Per Gallon:</label>
        <input id="avg-ppg-input" type="text" name="avg-ppg-input" />
      </div>
    </form>
    <div>
      <input onclick="calculateTripPrice();" type="button" class="btn btn-primary pull-left"
        value="Calculate Cost" />
    </div>
    <br /> <br />
    <form>
      <div class="pull-left clear">
        Estimated Cost: <br />
        <input id="est-cost-trip" type="text" name="est-cost-trip" /><br />
      </div>
    </form>
  </div>
</div>

{% endblock %} {% block externaljs %}
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6rEVLWJAAQ6p3IObKwkyGoAVQ_GQZnIg&sensor=false"></script>
<script src="/static/js/tripplanner.js"></script>
{% endblock %}
