{% extends 'base.html' %} {% block content %}

<div class="hero-unit">
  <div>
    <div class="pull-left">
      <h1>CarHub</h1>
      <p>A place for all your car related needs.</p>
      <p>Track everything about your car in one place.</p>
    </div>
    <div class="pull-right">
      <img src="/static/img/CarHub.png" alt="CarHub">
    </div>
  </div>

  <hr class="clear" />
  <div>
    <div class="row-fluid">
      <div class="span4">
        <h4>Garage</h4>
        <p>Make a garage with all of your cars and track each
          individually.</p>
      </div>
      <div class="span4">
        <h4>Maintenance Records</h4>
        <p>Keep track of your car maintenance in one place. No more
          paper receipts!</p>
      </div>
      <div class="span4">
        <h4>Charts</h4>
        <p>User focused charts provide a unique look at your
          expenses.</p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <h4>Gas Mileage Tracking</h4>
        <p>Get rid of your gas receipts and track them online. Take
          a picture for future reference.</p>
      </div>
      <div class="span4">
        <h4>Expense Manager</h4>
        <p>Track your car expenses with this easy to use tool.
          Categorize each expense.</p>
      </div>
      <div class="span4">
        <h4>Gas Price Finder</h4>
        <p>Find the lowest gas prices in your area with this gas
          price finder. Data powered by myGasFeed.</p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <h4>Trip Planner</h4>
        <p>This planner will give you directions and calculate cost.</p>
      </div>
      <div class="span4">
        <h4>Notifications</h4>
        <p>Never forget about routine maintenance or an appointment
          again. Car notifications will remind you.</p>
      </div>
      <div class="span4">
        <h4>News Feed</h4>
        <p>Find the latest news about your car with a customized
          search.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
