{% extends 'base_vehicle.html' %} {% block externalcss %}
<link rel="stylesheet" href="/static/css/validationEngine.jquery.css"
  type="text/css" />
<link rel="stylesheet" href="/static/css/bootstrap-datepicker.min.css" type="text/css" />
{% endblock %} {% block pagecontent %}

<h2 class="generic hidden page-header">Add Expense</h2>
<h2 class="maintenance hidden page-header">Add Maintenance Record</h2>
<h2 class="gasmileage hidden page-header">Add Fuel Record</h2>

<form id="addform" method="post" enctype="multipart/form-data">
  <div class="form-group generic maintenance gasmileage hidden">
    <label for="datePurchased">Date of Purchase</label>
    <input type="text"
      class="form-control validate[required,custom[date],past[now],future[1920-01-01]]"
      name="datePurchased" id="datePurchased">
  </div>

  <div class="form-group generic maintenance hidden">
    <label>Category</label>
    <select id="category" class="form-control" name="category">
      <option value="Uncategorized">Select a Category</option>
      {% for category in categories %}
      <option>{{ category.name() }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group generic maintenance gasmileage hidden">
    <label for="location">Location</label>
    <input type="text" class="form-control" name="location" id="location">
  </div>

  <div class="form-group generic maintenance gasmileage hidden">
    <label for="amount">Amount Spent</label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="number" name="amount" id="amount" class="form-control validate[required, custom[number]]" step="any">
    </div>
  </div>

  <div class="form-group generic maintenance hidden">
    <label for="description">Description of Purchase</label>
    <input type="text" class="form-control" name="description" id="description">
  </div>

  <div class="form-group gasmileage hidden">
    <label for="pricepergallon">Price Per Gallon</label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="number" name="pricepergallon" id="pricepergallon" class="form-control validate[required,custom[number]]" step="any">
    </div>
  </div>

  <div class="form-group gasmileage hidden">
    <label for="grade">Fuel Grade</label>
    <select name="grade" class="form-control" id="grade">
      <option value="Regular">Regular</option>
      <option value="Mid">Mid</option>
      <option value="Premium">Premium</option>
      <option value="Diesel">Diesel</option>
    </select>
  </div>

  <div class="form-group gasmileage hidden">
    <label for="amount">Starting Odometer</label>
    {% if lastfuelrecord %}
    <input type="number" class="form-control validate[custom[integer], min[0]]" name="odometerStart" id="odometerStart" value="{{ lastfuelrecord.odometerEnd }}">
    {% else %}
    <input type="number" class="form-control validate[custom[integer], min[0]]" name="odometerStart" id="odometerStart">
    {% endif %}
  </div>

  <div class="form-group maintenance gasmileage hidden">
    <label for="odometerEnd">Ending Odometer Reading</label>
    <input type="number" class="form-control validate[custom[integer], min[0]]" name="odometerEnd" id="odometerEnd">
  </div>

  <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Submit</button>
</form>

<!-- Below are hidden fields that contain record information of a record to be edited -->
{% if editexpenseobj %}
<div id="editexpenseobject" class="hidden">
  <div id="editdatepurchased">{{ editexpenseobj.date_formatted() }}</div>
  <div id="editcategory">{{ editexpenseobj.categoryname }}</div>
  <div id="editlocation">{{ editexpenseobj.location }}</div>
  <div id="editamount">{{ editexpenseobj.amount_formatted() }}</div>
  <div id="editdescription">{{ editexpenseobj.description }}</div>
</div>
{% endif %} {% if editmaintenanceobj %}
<div id="editmaintenanceobject" class="hidden">
  <div id="editdatepurchased">{{ editmaintenanceobj.date_formatted() }}</div>
  <div id="editcategory">{{ editmaintenanceobj.categoryname }}</div>
  <div id="editlocation">{{ editmaintenanceobj.location }}</div>
  <div id="editamount">{{ editmaintenanceobj.amount_formatted() }}</div>
  <div id="editdescription">{{ editmaintenanceobj.description }}</div>
  <div id="editodometer">{{ editmaintenanceobj.odometer }}</div>
</div>
{% endif %} {% if editfuelrecordobj %}
<div id="editfuelrecordobject" class="hidden">
  <div id="editdatepurchased">{{ editfuelrecordobj.date_formatted() }}</div>
  <div id="editlocation">{{ editfuelrecordobj.location }}</div>
  <div id="editamount">{{ editfuelrecordobj.amount_formatted() }}</div>
  <div id="editdescription">{{ editfuelrecordobj.description }}</div>
  <div id="editpricepergallon">{{ editfuelrecordobj.costPerGallon_formatted() }}</div>
  <div id="editfuelgrade">{{ editfuelrecordobj.fuelGrade }}</div>
  <div id="editodometerstart">{{ editfuelrecordobj.odometerStart }}</div>
  <div id="editodometerend">{{ editfuelrecordobj.odometerEnd }}</div>
</div>
{% endif %} {% endblock %} {% block externaljs %}
<script type="text/javascript" src="/static/js/ext/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/static/js/ext/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="/static/js/ext/jquery.validationEngine.js"></script>
<script type="text/javascript" src="/static/js/addexpense.js"></script>
{% endblock %}
