{% extends 'base_vehicle.html' %}
{% block externalcss %}
<link rel="stylesheet" href="/static/css/dataTables.bootstrap.css" type="text/css"/>
{% endblock %}
{% block pagecontent %}

<div class="row">
  <div class="col-lg-9">
    <h2>Expense Manager</h2>
    {% if userexpenses %}
    <h3>Total Money Spent: ${{ expensetotal }}</h3>
    {% else %}
    <p>You don't have any expenses recorded yet.</p>
    <p>Record one <a href="/vehicle/{{ car.key.id() }}/expenses/add">here</a>!</p>
    {% endif %}
  </div>
  <div class="col-lg-3">
    {% if userexpenses %}
    <a id="record-add" class="btn btn-primary btn-block expense-btn" href="/vehicle/{{ car.key.id() }}/expenses/add"><i class="glyphicon glyphicon-plus"></i> Add Expense</a>
    <a id="record-edit" class="btn btn-default btn-block expense-btn"><i class="glyphicon glyphicon-edit"></i> Edit Record</a>
    <a id="record-delete" class="btn btn-danger btn-block expense-btn"><i class="glyphicon glyphicon-remove"></i> Delete Record</a>
    {% endif %}
  </div>
</div>
<br>

{% if userexpenses %}

<div id="alert"></div>

<table class="table table-striped table-bordered dataTable DTTT_selectable table-hover" id="expense-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Location</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Picture</th>
    </tr>
  </thead>
  <tbody>
  {% for e in userexpenses %}
  <tr id="{{ e.key.id() }}">
    <td>{{ e.date_formatted() }}</td>

    {% if e.categoryname %}
    <td>{{ e.categoryname }}</td>
    {% else %}
    <td>Uncategorized</td>
    {% endif %}

    <td>{{ e.location }}</td>
    <td>{{ e.description }}</td>
    <td>{{ e.amount_formatted() }}</td>

    {% if e.picture %}
    <td><button type="button" class="btn btn-success receiptlink" value="{{ e.pictureurl }}">Receipt</button></td>
    {% else %}
    <td>N/A</td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>

<div id="displayimage" class="modal fade img-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Photo</h4>
      </div>
      <div class="modal-body">
        <img id="modalimage" class="center-block">
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock %} {% block externaljs %}
<script type="text/javascript" src="/static/js/ext/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/ext/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/static/js/ext/TableTools.js"></script>
<script type="text/javascript" src="/static/js/expenses.js"></script>
{% endblock %}
