{% extends 'base_vehicle.html' %}
{% block pagecontent %}

<h2>News</h2>
<div id="searchresults"></div>
<div id="googleBranding"></div>

<input type="hidden" id="carmake" value="{{ car.make }}">
<input type="hidden" id="carmodel" value="{{ car.model }}">
<input type="hidden" id="caryear" value="{{ car.year }}">

{% endblock %}

{% block externaljs %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/static/js/news.js"></script>
{% endblock %}
