{% extends 'base.html' %} {% block externalcss %}
<link rel="stylesheet" href="/static/css/dataTables.bootstrap.min.css" type="text/css" />
{% endblock %} {% block content %}

<div class="well">
  <h2>Settings</h2>

  <div class="control-group">
    <label class="control-label" for="username"><b>Username</b></label>
    <div class="controls">
      <input type="text" id="username" class="form-control" name="username" disabled="disabled" value="{{ user.username }}" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="avatar"><b>Avatar</b></label>
    <div class="controls">
      <img src="{{ user.profilePic }}" /> <a href="http://gravatar.com">Change your avatar at Gravatar.com</a>
    </div>
  </div>

  <div>
    <label class="control-label"><b>Categories</b></label>
    <div class="row">
      <div class="col-lg-3">
        <a id="editCategory" class="btn btn-info col-lg-12 btn-block"><i class="glyphicon glyphicon-edit"></i> Edit Category</a>
        <a id="deleteCategory" class="btn btn-danger col-lg-12 btn-block"><i class="glyphicon glyphicon-remove"></i> Delete Category</a>
      </div>
      <div class="col-lg-3">
        <table class="category-datatable table table-striped table-bordered DTTT_selectable table-hover" id="expense-category-table">
          <thead>
            <tr>
              <th>User Expense Categories</th>
            </tr>
          </thead>
          <tbody>
            {% if categories %}
            {% for c in categories %}
            <tr id="{{ c.key.id() }}">
              <td class="expense">{{ c.category }}</td>
            </tr>
            {% endfor %}
            {% endif %}
            <tr id="add">
              <td class="expense">
                <a id="addExpCategory" class="btn btn-primary col-lg-12"><i class="glyphicon glyphicon-plus"></i> Add</a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th><b>Default Expense Categories</b></th>
            </tr>
            {% if defaultcategories %}
            {% for c in defaultcategories %}
            <tr id="{{ c.key.id() }}">
              <td class="expense">{{ c.category }}</td>
            </tr>
            {% endfor %}
            {% endif %}
          </tfoot>
        </table>
      </div>

      <div class="col-lg-3">
        <table class="category-datatable table table-striped table-bordered DTTT_selectable table-hover" id="maint-category-table">
          <thead>
            <tr>
              <th>User Maintenance Categories</th>
            </tr>
          </thead>
          <tbody>
            {% if maintcategories %}
            {% for c in maintcategories %}
            <tr id="{{ c.key.id() }}">
              <td class="maintenance">{{ c.name() }}</td>
            </tr>
            {% endfor %}
            {% endif %}
            <tr id="add">
              <td class="maintenance">
                <a id="addMaintCategory" class="btn btn-primary col-lg-12"><i class="glyphicon glyphicon-plus"></i> Add</a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th><b>Default Maintenance Categories</b></th>
            </tr>
            {% if defaultmaintcategories %}
            {% for c in defaultmaintcategories %}
            <tr id="{{ c.key.id() }}">
              <td class="expense">{{ c.name() }}</td>
            </tr>
            {% endfor %}
            {% endif %}
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="editCategoryModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3 id="modalheader"></h3>
  </div>
  <div class="modal-body">
    <form method="post" id="saveForm">
      <div>
        <label for="categoryName">Name:</label>
        <input id="categoryName" type="text" name="categoryName" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <input type="submit" class="btn btn-primary" autofocus="autofocus" form="saveForm" value="Submit"></input>
  </div>
</div>


{% endblock %} {% block externaljs %}
<script type="text/javascript"
  src="/static/js/ext/jquery.dataTables.min.js"></script>
<script type="text/javascript"
  src="/static/js/ext/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/settings.js"></script>
{% endblock %}
