{% extends 'base.html' %} {% block content %}

<div class="well">
  <h2>Trip Planner</h2>

  <div class="container">
    <div class="col-lg-3">
      <div class="row">
        <label class="checkbox">
          <input id="useCurrentLocation" type="checkbox" checked="checked"/> Use my location
        </label>
        <div class="form-group">
          <label>From:</label>
          <input id="from-input" class="form-control" type=text value="" />
        </div>
        <div class="form-group">
          <label>To:</label>
          <input id="to-input" class="form-control" type=text value="" />
        </div>
      </div>
      <div class="row">
        <button id="getdirections" class="btn btn-primary col-lg-12">Go!</button>
      </div>
      <hr>
      <div class="row">
        <div id="dir-container"></div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="row" style="padding-left: 1em">
        <div id="map_canvas" class="trip-map-canvas"></div>
      </div>
      <div class="row">
        <hr>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label for="num-miles-input">Number of Miles:</label>
            <input id="num-miles-input" type="number" class="col-lg-12 form-control" readonly="readonly" step="any" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="avg-mpg-input">Average MPG:</label>
            <input id="avg-mpg-input" type="number" class="col-lg-12 form-control" step="any" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="avg-ppg-input">Estimated Price Per Gallon:</label>
            <div class="input-group col-lg-12 no-padding">
              <span class="input-group-addon">$</span>
              <input id="avg-ppg-input" class="form-control" type="number" step="any" />
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <label>&nbsp;</label>
          <button class="btn btn-primary col-lg-12" id="calculatecost">Calculate</button>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="est-cost-trip">Estimated Cost:</label>
            <div class="input-group col-lg-12 no-padding">
              <span class="input-group-addon">$</span>
              <input id="est-cost-trip" class="form-control" type="number" readonly="readonly" step="any" />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="est-cost-per-mile">Estimated Cost Per Mile:</label>
            <div class="input-group col-lg-12 no-padding">
              <span class="input-group-addon">$</span>
              <input id="est-cost-per-mile" class="form-control" type="number" readonly="readonly" step="any" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block externaljs %}
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-aGrYEme0_wLGC8x6EAnIG5Ip_Du0c7o&sensor=false"></script>
<script src="/static/js/tripplanner.js"></script>
{% endblock %}
