{% extends 'base.html' %} {% block content %}

<div class="jumbotron">
  <div class="row">
    <div class="col-lg-7">
      <h1>CarHub</h1>
      <p>A place for all your car related needs.</p>
      <p>Track everything about your car in one place.</p>
    </div>
    <div class="col-lg-5">
      <img src="/static/img/carhub_logo_no_text.svg" alt="CarHub" class="home-logo" onerror="this.onerror=null; this.src='carhub_logo_no_text.png'">
    </div>
  </div>

  <hr>
  <div>
    <div class="row">
      <div class="col-lg-4">
        <h4>Garage</h4>
        <p>Make a garage with all of your cars and track each
          individually.</p>
      </div>
      <div class="col-lg-4">
        <h4>Maintenance Records</h4>
        <p>Keep track of your car maintenance in one place. No more
          paper receipts!</p>
      </div>
      <div class="col-lg-4">
        <h4>Charts</h4>
        <p>User focused charts provide a unique look at your
          expenses.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h4>Gas Mileage Tracking</h4>
        <p>Get rid of your gas receipts and track them online. Take
          a picture for future reference.</p>
      </div>
      <div class="col-lg-4">
        <h4>Expense Manager</h4>
        <p>Track your car expenses with this easy to use tool.
          Categorize each expense.</p>
      </div>
      <div class="col-lg-4">
        <h4>Gas Price Finder</h4>
        <p>Find the lowest gas prices in your area with this gas
          price finder. Data powered by myGasFeed.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h4>Trip Planner</h4>
        <p>This planner will give you directions and calculate cost.</p>
      </div>
      <div class="col-lg-4">
        <h4>Notifications</h4>
        <p>Never forget about routine maintenance or an appointment
          again. Car notifications will remind you.</p>
      </div>
      <div class="col-lg-4">
        <h4>News Feed</h4>
        <p>Find the latest news about your car with a customized
          search.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h4>Mobile</h4>
        <p>Find gas prices on the go with the <a href="https://play.google.com/store/apps/details?id=com.worthwhilegames.carhubmobile" target="_blank">mobile application</a>.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
